h1{
    color: red;
    font-weight: bolder;
    font-family: Lucida,sans-serif
}  
img {
    width: 250px; 
    height: 100px
}

figcaption {      
    font-weight: bolder; 
    color: white;
    height:30px
}

.thumbnail {
    background-color: red
}

.row { 
    background-size: 100% 100%
}

            